<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title> <!-- provide to have every page diffrent name -->
  <link  href="css/style.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>
  <header id="head">
    <fieldset>
      <a id="logo" img="images/logo.png" href="/">
        <img id="logo" href="/" src="../images/logo.png"></a>

      <nav>
        <div class="topNav">
          <a href="/Movie/movie">Movies </a>
          <a href="/Movie/tv"> TV shows </a>
          <a href="/Movie/all">All Movies </a>
          <input id="search" type="text" placeholder="Search..">               
          
        
          {{#if user}}
       
           <a href="/User/admin"><i class="material-icons">account_circle</i>{{user.firstName}}</a>
          <a href="/User/logout"><i class="material-icons">account_circle</i>Log out</a>
           <a href="/User/payment" id="shopping"> <i class="material-icons">shopping_cart</i></a>   
                
          {{else}}
          <a href="/User/sign">Get Membership</a> 
           <a href="/User/login"><i class="material-icons">account_circle</i>Log In</a>        
          
          {{/if}}
            
        </div>
          
      </nav>
    </fieldset>
  </header>


  <main>
    {{{body}}}

  </main>
   <hr>

 <footer class="bg-white">    <div class="row py-4">

      <div class="col">
        <h6 class="text">Watch</h6>
        <ul class="list-unstyled mb-0">
          <li class="mb-2"><a href="/Movie/movie" class="text-muted">Movies </a></li>
          <li class="mb-2"><a href="/Movie/tv" class="text-muted">Tv shows</a></li>
          <li class="mb-2"><a href="#" class="text-muted">Free</a></li>
          <li class="mb-2"><a href="#" class="text-muted">New     </a></li>
        </ul>
      </div>
      <div class="col">
        <h6 class="text-uppercase font-weight-bold mb-4">My Account</h6>
        <ul class="list-unstyled mb-0">
          <li class="mb-2"><a href="/User/login" class="text-muted">Login</a></li>
          <li class="mb-2"><a href="/User/sign" class="text-muted">Register</a></li>
          <li class="mb-2"><a href="#" class="text-muted">Help</a></li>
          <li class="mb-2"><a href="/User/contact" class="text-muted">Contact Us</a></li>
        </ul>
      </div>

    <form  action="https://formspree.io/f/xdopwabk" method="post">
         
     <div class="signIn">
          <label for="email">Newsletter</label>
          <input name="Email" id="email" type="email">
          <button id="paper" type="submit" class="btn btn-link"><i class="fa fa-paper-plane"></i></button>
          <label>
            <input type="checkbox" checked="checked" name="subscribe"> Daily Newsletter
          </label>
         </form>
         </div>
    </div>



    <span class="footer-social">
      <a href="https://www.pinterest.com/paviliongift/" class="generic-anchor" target="_blank" title="Pinterest"
        itemprop="significantLink"><i class="fa fa-pinterest"></i></a>
      <a href="https://www.facebook.com/paviliongift" class="generic-anchor" target="_blank" title="Facebook"
        itemprop="significantLink"><i class="fa fa-facebook"></i></a>
      <a href="https://twitter.com/PavilionGiftCo" class="generic-anchor" target="_blank" title="Twitter"
        itemprop="significantLink"><i class="fa fa-twitter"></i></a>
      <a href="http://instagram.com/paviliongiftcompany" class="generic-anchor" target="_blank" title="Instagram"
        itemprop="significantLink"><i class="fa fa-instagram"></i></a>
      <a href="https://www.youtube.com/channel/UCYgUODvd0qXbu_LkUWpTVEg" class="generic-anchor" target="_blank"
        title="Youtube" itemprop="significantLink"><i class="fa fa-youtube"></i></a>
      <a href="https://plus.google.com/+Paviliongift/posts" class="generic-anchor" target="_blank" title="Google Plus"
        itemprop="significantLink"><i class="fa fa-google-plus"></i></a>
    </span>


    <div class="paymentIcon">

      
        <i class="fa fa-cc-visa" style="color:navy;"></i>
        <i class="fa fa-cc-amex" style="color:blue;"></i>
        <i class="fa fa-cc-mastercard" style="color:red;"></i>
        <i class="fa fa-cc-discover" style="color:orange;"></i>
      </div>

    </div>

  </footer>




  <!-- Footer -->

 
 


  <!-- Loads a browser JS files -->
  <script src="/js/app.js"></script>


</body>

</html>