 <section>
  <div class="mainPage">
    <p>
      <a id="containerAll" href="/"> All Films </a>
      <br>


    <div class="allP">
      {{#each All}}
      <div class="allProduct">
        <fieldset>
          <a href="/products/{{this.id}}">
            <img src="{{this.src}}" />
            <p class="name">{{this.title}}</p></a>

        </fieldset>
      </div>

      {{/each}}
    </div>


    </p>

    <hr>
    </section>