<section>

  <div class="form" id="myForm">
    <form action="/login" class="form-container" method="POST">
      <fieldset id="logField">
        <h1>Login</h1>

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" >
        <p id="errors">{{error1}}</p>
        <label for="psw"><b>Password</b></label>
        <input id="psw" type="password" placeholder="Enter Password" name="psw" >
        <p id="errors">{{error2}}</p>

        <button type="submit" class="btn">Login</button>
    </form>
    </fieldset>
  </div>
</section>