<section>
  <div class="form" id="myForm">
    <form action="/sign" class="form-container" method="POST">
      <fieldset id="logField">
        <h1>Create Account</h1>

        <label for="email"><b>*First Name</b></label>
        <input type="text" placeholder="Enter first name" name="firstName" >
        <p id="errorsS">{{error1}}</p>

        <label for="email"><b>*Last Name</b></label>
        <input type="text" placeholder="Enter last name" name="lastName" >
        <p id="errorsS">{{error2}}</p>

        <label for="email"><b>*Email Adress</b></label>
        <input type="text" placeholder="Enter Email" name="email" >
        <p id="errorsS">{{error3}}</p>

        <label for="psw"><b>*Create Password</b></label>
        <input id="psw" type="password" placeholder="Enter Password" name="psw" >
        <p id="errorsS">{{error4}}</p>

        <button type="submit" class="btn">Sign Up</button>


</section>