<section>

    <h1>TV shows</h1>

    <div class="tv">
        {{#each TV}}
        <div class="tvProducts">
            <fieldset>
                <a href="/products/{{this.id}}">
                    <img src="{{this.src}}" />
                    <p class="name">{{this.title}}</p>
                </a>
            </fieldset>
        </div>

        {{/each}}


    </div>


</section>