<section>
  <div class="form" id="myForm">
         <h1>Welcome Admin, {{user.firstName}} </h1>

  
    <div id="welcome">
      
        <br><br>
        <a href="/movie/add">
             <div class="mv">
     <h5  class="card-title">Add new movie</h5>
      <div class="mvProducts">
        <fieldset>
         
            <img src="https://cdn2.iconfinder.com/data/icons/interactive-shadow-pack/100/_-5-512.png" />
         
         </a>
        </fieldset>
      </div>

     
   
             
           
        <br>
        <a href="/movie/all">
             <div class="card-body">
                    <h5  class="card-title">See all Movies </h5>
                </div>
            </a>
            <br>
               <a href="/movie/dashboard">
             <div class="card-body">
                    <h5  class="card-title">see all movie tasks </h5>
                </div>
            </a>
            <br>
    </div>

</section>