<section>
    <h1>Welcome, {{user.firstName}} You have successfully Register MoovieE-X</h1>
    <div id="welcome">
        <a>Start Discovering </a>
        <br><br>
        <a href="/Movie/movie">Movies </a>
        <br>
        <a href="/Movie/tv"> TV shows </a>
        <br>
        <a href="/Movie/all">All movies </a>
        <br>
    </div>

</section>