<section>

    <h1>TV shows</h1>

    <div class="tv">
        {{#each TV}}
        
        <div class="tvProducts">
            <fieldset>
                <a id="pro" href="listing/{{this._id}}">
                    <img src="{{this.picture}}" />
                    <p class="name">{{this.title}}</p>
                </a>
            </fieldset>
        </div>

        {{/each}}


    </div>


</section>